/*
 * @Author: pengpeng.zhu
 * @Date: 2019-08-27 14:25:00
 * @LastEditors: xiaocheng.wang
 * @LastEditTime: 2020-03-11 16:19:55
 * @Description: dropdown的样式覆盖
 */
.el-dropdown-menu {
  max-height: 200px;
  overflow: auto;
  .el-scrollbar {
    z-index: 1;
  }
}