// 列表页-筛选面板
.content-head {
  position: relative;
  flex: 0 0 auto;
  .manager {
    margin: 0;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    .el-input {
      .el-input__inner {
        border-width: 0;
        font-size: 15px;
        font-weight: bold;
        font-family: 'microsoft Yahei'
      }
    }
  }
  .scope {
    display: inline-block;
    position: relative;
    width: 320px;
    padding-left: 72px;
    margin-left: 15px;
    .label {
      position: absolute;
      left: 0;
      top: 8px;
    }
    .el-select {
      min-width: 86px;
    }
    .dropbox-wrapper {
      position: absolute;
      width: 320px;
      height: 0;
      left: 75px;
      top: 32px;
      z-index: 100;
    }
    .el-icon-close {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 12px;
      color: #008cee;
      cursor: pointer;
    }
  }
  .custom-archived {
    float: right;
  }
  .inline-block {
    float: right;
    line-height: 32px;
    margin-right: 10px;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
  }
  .list-panel {
    position: relative;
    border: 1px solid #dedede;
    border-bottom-width: 0;
    margin-top: 15px;
    padding-right: 130px;
    .form-item {
      margin: 10px 0 10px 15px;
      display: inline-block;
      font-size: 0;
      vertical-align: top;
      .payment {
        padding-top: 1px;
        .item {
          display: inline-block;
          font-size: 13px;
          line-height: 2;
          padding: 0 5px;
          margin: 0 4px;
          cursor: pointer;
          transition: all 0.2s;
          &:hover, &.active {
            color: #ff7c35;
            border-bottom: 1px solid #ff7c35;
          }
        }
      }
    }
    .filter {
      position: absolute;
      right: 10px;
      top: 14px;
      outline: none;
      &.sort {
        right: 50px;
        top: 11px;
      }
      &.left {
        right: 10px;
        .title {
          padding-top: 5px;
          outline: none;
        }
      }
      .title {
        line-height: 1;
        color: #929292;
        padding: 5px;
        display: inline-block;
        cursor: pointer;
        font-size: 16px;
      }
      .el-select {
        width: 46px;
        height: 38px;
        position: absolute;
        top: 0;
        right: 0;
        .el-input {
          opacity: 0;
          .el-input__inner {
            padding: 0;
          }
        }
        .el-select__tags {
          display: none;
        }
      }
    }
  }
}
.custom-select {
  .custom-select-option {
    color: #008cee;
    font-size: 14px;
    padding: 8px 10px;
    cursor: pointer;
    line-height: 1.5;
    overflow: hidden;
  }
}

.el-select-dropdown {
  .el-select-dropdown__list {
    .el-select-dropdown__item {
      padding-right: 30px;
    }
  }
}