/*
 * @Author: jiahua.cui
 * @Date: 2018-12-27 11:16:19
 * @LastEditors: qianqian.zhao
 * @LastEditTime: 2019-04-04 16:09:33
 * @Description: 详情页样式
 */

.detail {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: calc(100% - 50px);
  width: 1000px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 2000;
  .head {
    position: relative;
    padding: 24px;
    text-align: right;
    border-bottom: 1px dashed #e5ecf7;
    display: flex;
    height: 80px;
    box-sizing: border-box;
    vertical-align: middle;
    .title {
      top: 50%;
      transform: translateY(-50%);
      font-size: 0;
      text-align: left;
      position: relative;
      left: 0;
      flex: 1;
      height: 80px;
      .title-wrap {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        // display: flex;
        .title-text {
          font-size: 20px;
          // color: $base-orange;
          margin-right: 15px;
          flex: 1;
          line-height: 24px;
          &.red {
            color: $base-red;
          }
        }
        i {
          margin-top: 2px;
        }
        .cti-btn {
          flex: 0 0 auto;
        }
        .el-star {
          display: inline-block;
          vertical-align: top;
          font-size: 18px;
          cursor: pointer;
          transition: color 0.2s;
          &:hover {
            color: $base-orange;
          }
        }
        .el-icon-star-on {
          color: $base-orange;
        }
        .el-icon-star-off {
          color: #666;
        }
      }
      .tag-list {
        margin-top: 4px;
        margin-left: -5px;
        .tag {
          display: inline-block;
          height: 25px;
          line-height: 25px;
          padding: 0 8px;
          border-radius: 2px;
          font-size: 12.5px;
          transform: scale(0.8, 0.8);
          &.tagbg-18 {
            background-color: rgba(255, 109, 115, 0.1);
            color: rgb(255, 109, 115);
          }
        }
      }
    }
    .button-items {
      vertical-align: top;
      display: inline-block;
      .delete {
        color: #ff6161;
      }
    }
    .question {
      color: $text-auxiliary;
      font-size: 12px;
      margin-left: 5px;
      display: none;
    }
    .cti-btn {
      display: inline-block;
      padding: 6px 10px;
      margin-right: 6px;
      vertical-align: top;
      .web-icon-dial {
        font-size: 20px;
        color: #58B957;
        cursor: pointer;
      }
    }
  }
  .subTitle {
    font-size: 0;      
    padding: 13px 0;
    .text {
      display: inline-block;
      font-size: 13px;
      line-height: 1;
      padding: 0 15px;
      color: #666;
      border-right: 1px solid $line-cut-deep;
      &:last-child {
        border-right-width: 0;
      }
    }
  }
  .content {
    flex: 1 1 auto;
    position: relative;
    box-sizing: border-box;
    border-top: 5px solid #dce1e8;
    background-color: #dce1e8;
    .content-info {
      display: flex;
      position: absolute;
      flex-direction: column;
      height: 100%;
      top: 0;
      background-color: #fff;
      width: 100%;
      right: 0;
      .tab-con {
        flex: 1;
        padding: 0 38px;
        overflow: auto;
      }
    }
  }
  .chapter {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 300px;
    top: -24px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .detailClose {
    position: absolute;
    width: 48px;
    height: 46px;
    background-color: #fff;
    text-align: center;
    left: -49px;
    top: 0;
    cursor: pointer;
    z-index: -1;
    &:hover {
      .el-icon-close {
        color: #999;
      }
    }
    .el-icon-close {
      transition: color 0.3s;
      font-size: 16px;
      display: inline-block;
      line-height: 42px;
      color: #ccc;
      font-weight: 100;
    }
  }
}
.detail-bg {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 200;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3);
  &.fade-enter-active, &.fade-leave-active {
    transition: all 0.4s;
    opacity: 1;
  }
  &.fade-enter, &.fade-leave-active {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}