/*
 * @Author: qianqian.zhao
 * @Date: 2019-07-03 14:08:30
 * @LastEditors: qianqian.zhao
 * @LastEditTime: 2019-07-03 14:09:23
 * @Description: 空内容样式布局
 */

 .empty {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 30%;
    left: 0;
    margin: auto;
    text-align: center;
    &__img {
      width: 300px;
    }
    &__hint {
      display: block;
      text-align: center;
      font-size: 20px;
      color: $text-tip;
    }
  }