/*
 * @Author: pengpeng.zhu
 * @Date: 2019-08-28 19:31:13
 * @LastEditors: pengpeng.zhu
 * @LastEditTime: 2019-08-28 20:40:50
 * @Description: 轻量弹窗的自定义样式
 */
.alert-error-content {
  padding: 0 10px;
  max-height: 300px;
  overflow: auto;
  .error-type {
    font-size: 16px;
    color: $base-orange;
  }
  .error-list {
    .error-item {
      line-height: 20px;
    }
  }
}