// 详情 表单样式
.notes-list {
  .content {
    .item-list {
      margin-left: 15px;
      padding-bottom: 30px;
      border-left: 1px solid #dde0e3;
      .item {
        padding-top: 25px;
        &.item-li {
          display: flex;
        }
        .date {
          // display: inline-block;
          flex:1;
          vertical-align: top;
          width: 130px;
          padding-left: 30px;
          box-sizing: border-box;
          position: relative;
          font-size: 13px;
          line-height: 20px;
          color: $text-plain;
          &:before {
            position: absolute;
            width: 20px;
            height: 0;
            border-top: 1px solid #dde0e3;
            left: 0;
            top: 10px;
            content: '';
          }
          &:after {
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #dde0e3;
            left: -3px;
            top: 8px;
            content: '';
          }
        }
        .order {
          position: relative;
          flex:7;
          // display: inline-block;
          vertical-align: top;
          // width: 425px;
          // width: 80%;
          border: 1px solid #e5ecf7;
          border-radius: 2px;
          background-color: #fff;
          .id {
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            color: #222;
            .ico {
              display: inline-block;
              vertical-align: top;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              line-height: 22px;
              font-size: 12px;
              text-align: center;
              margin: 4px 5px 0 12px;
              font-style: normal;
              transform: scale(0.75);
              color: #fff;
              &.orange {
                background-color: $base-orange;
              }
              &.green {
                background-color: #78c06e;
              }
              &.purple {
                background-color: #978ab6;
              }
              &.red {
                background-color: $base-red;
              }
            }
            a, .no-child {
              width: 70%;
              display: inline-block;
              padding-left: 15px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .link.red {
              color: $base-red;
            }
          }
          .good {
            height: 56px;
            background-color: #f9fcff;
            display: flex;
            .thumb {
              display: inline-block;
              vertical-align: top;
              width: 40px;
              height: 40px;
              line-height: 40px;
              text-align: center;
              border-radius: 2px;
              background-color: #95a8c2;
              color: #fff;
              margin: 8px 0 0 16px;
              font-size: 22px;
              img {
                display: inline-block;
                width: 40px;
                height: 40px;
              }
            }
            .title {
              margin-left: 12px;
              line-height: 56px;
              flex: 1;
            }
            .price {
              margin: 0 12px;
              line-height: 56px;
              font-size: 12px;
              color: $text-plain;
            }
            .percent {
              line-height: 56px;
              font-size: 12px;
              color: $text-plain;
              margin-right: 16px;
            }
          }
          .response {
            height: 32px;
            line-height: 32px;
            font-size: 12px;
            padding-left: 16px;
            color: $text-plain;
            .text {
              display: inline-block;
              font-size: 13px;
              line-height: 1;
              color: #666;
              border-right: 1px solid $line-cut-deep;
              &:last-child {
                border-right-width: 0;
              }
            }
          }
          .status-out {
            position: absolute;
            line-height: 1;
            right: 15px;
            top: 9px;
            color: $text-plain;
            .status{
              display: inline-block;
              font-size: 13px;
              line-height: 1;
              padding: 0 15px;
              border-right: 1px solid $line-cut-deep;
              &:last-of-type {
                border-right: none;
                padding-right: 0;
              }
              &.normal {
                color: $text-plain;
              }
              &.success {
                color: $base-green;
              }
              &.warning {
                color: $base-orange;
              }
              &.danger {
                color: $base-red;
              }
            }
          }
          .overday {
            position: absolute;
            line-height: 1;
            right: 15px;
            bottom: 10px;
            font-size: 12px;
            color: #ff6161;
          }
        }
        &.hc-red {
          .status, .good .price, .id a {
            color: $base-red;
          }
        }
      }
    }
  }
}

/**
  详情页右侧选项卡
**/
.v-tabs {
  .head {
    text-align: right;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px dashed #e5ecf7;
    .total {
      float: left;
      line-height: 30px;
      font-size: 13px;
    }
    .inline-item {
      display: inline-block;
      vertical-align: top;
      line-height: 30px;
      margin-left: 15px;
      font-size: 13px;
      .el-button {
        vertical-align: top;
      }
      .el-radio-group {
        vertical-align: top;
      }
      .red {
        color: $base-red;
      }
    }
  }
  .content {
    padding-top: 10px;
    .table-foot {
      line-height: 38px;
      border: 1px solid #e0e6ed;
      border-top-width: 0;
      // 优惠价格标红
      .discount {
        color: $base-red;
      }
      .item {
        margin-left: 12px;
        font-size: 13px;
      }
    }
    .center {
      line-height: 3;
      text-align: center;
    }
  }
}

/*
  自定义选择框样式
 */ 
.item-select {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0 40px 0 8px;
  border-radius: 2px;
  border: 1px solid rgb(191, 203, 217);
  background-color: #fff;
  min-height: 36px;
  .item {
    color: #20a0ff;
    height: 24px;
    line-height: 22px;
    box-sizing: border-box;
    margin: 3px 0 3px 6px;
    background-color: rgba(32, 160, 255, 0.1);
    border: 1px solid rgba(32, 160, 255, 0.2);
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    .text {
      display: inline-block;
      max-width: 120px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: top;
    }
    .del {
      border-radius: 50%;
      text-align: center;
      position: relative;
      cursor: pointer;
      font-size: 12px;
      transform: scale(0.75);
      height: 18px;
      width: 18px;
      line-height: 18px;
      vertical-align: middle;
      top: -1px;
      right: -2px;
      transition: all 0.2s;
      &:hover {
        background-color: #20a0ff;
        color: #fff;
      }
    }
  }
  .select-btn {
    position: absolute;
    right: 10px;
    top: 0;
    // margin-top: -14px; zpp
  }
  .el-input__inner {
    border: 0;
  }
}